---
layout: default
---

<div class="page__hero--overlay" style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('../assets/images/Blog/Portfolio.png')">
    <div class="wrapper">
      <h1 id="page-title" class="page__title" itemprop="headline" style="padding-top: 8em">
        {% if paginator and site.paginate_show_page_num %}
          {{ site.title }}{% unless paginator.page == 1 %} {{ site.data.ui-text[site.locale].page | default: "Page" }} {{ paginator.page }}{% endunless %}
        {% else %}
          {{ page.title | default: site.title | markdownify | remove: "<p>" | remove: "</p>" }}
        {% endif %}
      </h1>
      <p class="page__lead" style="padding-bottom:2em">제가 수행한 다양한 프로젝트와 작업물을 통해 개인적인 역량과 능력을 소양하기 위해 준비하였습니다.</p>
    </div>
</div>

{{ content }}

<!-- &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& -->
<article class="page h-entry">
    <h1>추후 추가될 예정입니다.</h1>
</article>


</div>